In [1]:
import urllib
import time

from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
stockCode = '003530' # 065450 빅텍

dayPriceUrl = 'http://finance.naver.com/item/sise_day.nhn?code=' + stockCode
dayPriceHtml = urlopen(dayPriceUrl)
dayPriceSource = BeautifulSoup(dayPriceHtml.read(), "html.parser")

dayPricePageNavigation = dayPriceSource.find_all("table", align="center")
dayPriceMaxPageSection = dayPricePageNavigation[0].find_all("td", class_="pgRR")
dayPriceMaxPageNum = int(dayPriceMaxPageSection[0].a.get('href')[-3:])

In [40]:
dayPriceMaxPageNum

567

In [41]:
url = 'https://finance.naver.com/item/sise_day.nhn?code=003530&page=2'
html = urlopen(url)
source = BeautifulSoup(html.read(), "html.parser")
srlists = source.find_all("tr")
isCheckNone = None
print(srlists)

[<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.11</span></td>
<td class="num"><span class="tah p11">2,055</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				25
				</span>
</td>
<td class="num"><span class="tah p11">2,080</span></td>
<td class="num"><span class="tah p11">2,105</span></td>
<td class="num"><span class="tah p11">2,055</span></td>
<td class="num"><span class="tah p11">131,051</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.10</span></td>
<td class="num"><span class="tah p11">2,080</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				65
				</span>
</td>
<td class="num"><span class="tah p11">2,110</span></td>
<td class="num"><span class="tah p11">2,140</span></td>
<td class="num"><span class="tah p11">2,070</span></td>
<td class="num"><span class="tah p11">248,164</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.07</span></td>
<td class="num"><span class="tah p11">2,145</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				10
				</span>
</td>
<td class="num"><span class="tah p11">2,140</span></td>
<td class="num"><span class="tah p11">2,165</span></td>
<td class="num"><span class="tah p11">2,130</span></td>
<td class="num"><span class="tah p11">107,616</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.06</span></td>
<td class="num"><span class="tah p11">2,135</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				40
				</span>
</td>
<td class="num"><span class="tah p11">2,185</span></td>
<td class="num"><span class="tah p11">2,190</span></td>
<td class="num"><span class="tah p11">2,110</span></td>
<td class="num"><span class="tah p11">331,692</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.05</span></td>
<td class="num"><span class="tah p11">2,175</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				50
				</span>
</td>
<td class="num"><span class="tah p11">2,180</span></td>
<td class="num"><span class="tah p11">2,200</span></td>
<td class="num"><span class="tah p11">2,165</span></td>
<td class="num"><span class="tah p11">127,332</span></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.04</span></td>
<td class="num"><span class="tah p11">2,225</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				20
				</span>
</td>
<td class="num"><span class="tah p11">2,245</span></td>
<td class="num"><span class="tah p11">2,260</span></td>
<td class="num"><span class="tah p11">2,200</span></td>
<td class="num"><span class="tah p11">264,779</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.12.03</span></td>
<td class="num"><span class="tah p11">2,245</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				40
				</span>
</td>
<td class="num"><span class="tah p11">2,230</span></td>
<td class="num"><span class="tah p11">2,270</span></td>
<td class="num"><span class="tah p11">2,225</span></td>
<td class="num"><span class="tah p11">428,514</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.11.30</span></td>
<td class="num"><span class="tah p11">2,205</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				25
				</span>
</td>
<td class="num"><span class="tah p11">2,175</span></td>
<td class="num"><span class="tah p11">2,205</span></td>
<td class="num"><span class="tah p11">2,175</span></td>
<td class="num"><span class="tah p11">165,815</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.11.29</span></td>
<td class="num"><span class="tah p11">2,180</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				15
				</span>
</td>
<td class="num"><span class="tah p11">2,205</span></td>
<td class="num"><span class="tah p11">2,215</span></td>
<td class="num"><span class="tah p11">2,180</span></td>
<td class="num"><span class="tah p11">453,901</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2018.11.28</span></td>
<td class="num"><span class="tah p11">2,165</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">2,160</span></td>
<td class="num"><span class="tah p11">2,185</span></td>
<td class="num"><span class="tah p11">2,135</span></td>
<td class="num"><span class="tah p11">125,793</span></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr>
<td class="pgLL">
<a href="/item/sise_day.nhn?code=003530&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=1">1</a>
</td>
<td class="on">
<a href="/item/sise_day.nhn?code=003530&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=003530&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.nhn?code=003530&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.nhn?code=003530&amp;page=567">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>]

In [55]:
print(srlists[3].span)
print(srlists[3].find_all("td", align="center")[0].text)
print(srlists[3].find_all("td", class_="num")[0].text)

<span class="tah p10 gray03">2018.12.10</span>
2018.12.10
2,080

In [56]:
day_list = []
close = []
open_list = []
high = []
low = []
vol = []
for page in range(1, dayPriceMaxPageNum + 1):
    url = 'http://finance.naver.com/item/sise_day.nhn?code=' + stockCode + '&page=' + str(page)
    html = urlopen(url)
    source = BeautifulSoup(html.read(), "html.parser")
    srlists = source.find_all("tr")
    isCheckNone = None

    # day: 날짜
    # closingPrice: 종가
    # variation: 전일대비
    # openingPrice: 시가
    # highestPrice: 고가
    # lowestPrice: 저가
    # volume: 거래량

    for i in range(1, len(srlists) - 1): 
        if (srlists[i].span != isCheckNone):
            day = srlists[i].find_all("td", align="center")[0].text
            closingPrice = srlists[i].find_all("td", class_="num")[0].text
            openingPrice = srlists[i].find_all("td", class_="num")[2].text
            highestPrice = srlists[i].find_all("td", class_="num")[3].text
            lowestPrice = srlists[i].find_all("td", class_="num")[4].text
            volume = srlists[i].find_all("td", class_="num")[5].text

#             print("날짜: " + day, end=" ")
#             print("종가: " + closingPrice, end=" ")
#             print("시가: " + openingPrice, end=" ")
#             print("고가: " + highestPrice, end=" ")
#             print("저가: " + lowestPrice, end=" ")
#             print("거래량: " + volume)
            day_list.append(day)
            close.append(closingPrice)
            open_list.append(openingPrice)
            high.append(highestPrice)
            low.append(lowestPrice)
            vol.append(volume)

In [57]:
len(day_list)

5666

In [14]:
import pandas as pd

In [23]:
raw_data = {
    'date' : day_list,
    'closingPrice' : close,
    'openingPrice' : open_list,
    'highestPrice' : high,
    'lowestPrice' : low,
    'volume' : vol
}

In [24]:
df = pd.DataFrame(raw_data)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 6 columns):
date            186 non-null object
closingPrice    186 non-null object
openingPrice    186 non-null object
highestPrice    186 non-null object
lowestPrice     186 non-null object
volume          186 non-null object
dtypes: object(6)
memory usage: 8.8+ KB

In [28]:
df.head(10)

         date closingPrice openingPrice highestPrice lowestPrice   volume
0  2018.12.12        2,105        2,055        2,105       2,045  253,293
1  2018.11.28        2,165        2,160        2,185       2,135  125,793
2  2018.11.14        2,165        2,140        2,185       2,125  219,157
3  2018.10.31        2,040        1,970        2,055       1,955  314,151
4  2018.10.17        2,125        2,120        2,150       2,105  371,494
5  2018.10.01        2,600        2,595        2,625       2,580  245,149
6  2018.09.12        2,490        2,530        2,530       2,480  148,610
7  2018.08.29        2,580        2,580        2,600       2,560  312,621
8  2018.08.14        2,405        2,400        2,425       2,395  385,139
9  2018.07.31        2,535        2,485        2,550       2,470  369,926

In [34]:
df.sort_values(by=df['date'])

KeyError: 0     2018-12-12
1     2018-11-28
2     2018-11-14
3     2018-10-31
4     2018-10-17
5     2018-10-01
6     2018-09-12
7     2018-08-29
8     2018-08-14
9     2018-07-31
10    2018-07-17
11    2018-07-03
12    2018-06-19
13    2018-06-01
14    2018-05-17
15    2018-05-02
16    2018-04-17
17    2018-04-03
18    2018-03-20
19    2018-03-06
20    2018-02-19
21    2018-02-01
22    2018-01-18
23    2018-01-04
24    2017-12-18
25    2017-12-04
26    2017-11-20
27    2017-11-06
28    2017-10-23
29    2017-09-29
         ...
156   2012-08-07
157   2012-07-24
158   2012-07-10
159   2012-06-26
160   2012-06-12
161   2012-05-25
162   2012-05-11
163   2012-04-26
164   2012-04-12
165   2012-03-28
166   2012-03-14
167   2012-02-28
168   2012-02-14
169   2012-01-31
170   2012-01-13
171   2011-12-29
172   2011-12-15
173   2011-12-01
174   2011-11-17
175   2011-11-03
176   2011-10-20
177   2011-10-06
178   2011-09-21
179   2011-09-05
180   2011-08-22
181   2011-08-05
182   2011-07-22
183   2011-07-08
184   2011-06-24
185   2011-06-10
Name: date, Length: 186, dtype: datetime64[ns]

In [30]:
idx = pd.to_datetime(df['date'])

In [33]:
df['date'] =idx

In [ ]:
df.

In [36]:
df.sort_values(by=['date'], inplace=True)

In [38]:
df.head(50)

          date closingPrice openingPrice highestPrice lowestPrice   volume
185 2011-06-10        5,960        6,110        6,110       5,960  153,890
184 2011-06-24        6,150        6,080        6,200       6,030  211,896
183 2011-07-08        6,570        6,670        6,680       6,540  157,160
182 2011-07-22        6,560        6,510        6,620       6,450  238,030
181 2011-08-05        5,820        5,720        5,880       5,700  360,109
180 2011-08-22        5,030        5,060        5,250       5,000  306,219
179 2011-09-05        5,380        5,510        5,550       5,360  179,403
178 2011-09-21        5,240        5,280        5,280       5,170  173,683
177 2011-10-06        4,800        4,790        4,890       4,750  234,110
176 2011-10-20        4,990        5,140        5,180       4,990  253,871
175 2011-11-03        4,900        5,000        5,010       4,900  135,446
174 2011-11-17        4,830        4,805        4,875       4,740  182,883
173 2011-12-01        4,680        4,600        4,845       4,565  768,446
172 2011-12-15        4,655        4,685        4,730       4,655   66,963
171 2011-12-29        4,510        4,530        4,560       4,470   94,006
170 2012-01-13        5,150        5,100        5,200       5,060  401,081
169 2012-01-31        5,450        5,490        5,530       5,410  225,700
168 2012-02-14        5,490        5,620        5,620       5,450  276,585
167 2012-02-28        5,180        5,130        5,190       5,100  148,112
166 2012-03-14        5,150        5,160        5,230       5,130  628,152
165 2012-03-28        5,100        5,100        5,130       5,050  171,255
164 2012-04-12        4,685        4,690        4,725       4,665   48,543
163 2012-04-26        4,520        4,660        4,690       4,520   93,590
162 2012-05-11        4,500        4,555        4,565       4,500   82,211
161 2012-05-25        4,020        4,050        4,100       3,995  115,801
160 2012-06-12        4,160        4,035        4,195       3,995  219,463
159 2012-06-26        4,015        3,995        4,070       3,995   49,072
158 2012-07-10        4,075        4,065        4,100       4,055  139,555
157 2012-07-24        3,775        3,735        3,785       3,725  111,950
156 2012-08-07        3,855        3,770        3,865       3,770  144,453
155 2012-08-22        3,955        4,000        4,050       3,900   82,750
154 2012-09-05        3,835        3,900        3,900       3,835   91,353
153 2012-09-19        4,350        4,325        4,350       4,250  218,010
152 2012-10-05        4,160        4,150        4,185       4,100  136,831
151 2012-10-19        3,890        3,880        3,905       3,845   86,065
150 2012-11-02        3,830        3,910        3,910       3,800   86,416
149 2012-11-16        3,695        3,720        3,740       3,650  195,712
148 2012-11-30        3,710        3,670        3,755       3,615  213,532
147 2012-12-14        4,415        4,295        4,435       4,260  626,587
146 2013-01-03        4,375        4,400        4,400       4,325  219,424
145 2013-01-17        4,070        4,050        4,095       4,020   62,986
144 2013-01-31        4,180        4,235        4,255       4,175   96,810
143 2013-02-15        4,545        4,540        4,620       4,505  273,783
142 2013-03-04        4,580        4,650        4,705       4,545  449,205
141 2013-03-18        4,335        4,430        4,430       4,330  144,339
140 2013-04-01        4,185        4,250        4,250       4,165   97,011
139 2013-04-15        4,015        3,970        4,015       3,945   54,518
138 2013-04-29        3,935        4,000        4,000       3,935   59,062
137 2013-05-14        4,190        4,190        4,260       4,180  177,945
136 2013-05-29        4,295        4,200        4,340       4,200  172,105