In [1]:
import urllib
import time

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [2]:

stockCode = '003530' # 065450 빅텍

dayPriceUrl = 'http://finance.naver.com/item/sise_day.nhn?code=' + stockCode
dayPriceHtml = urlopen(dayPriceUrl)
dayPriceSource = BeautifulSoup(dayPriceHtml.read(), "html.parser")

dayPricePageNavigation = dayPriceSource.find_all("table", align="center")
dayPriceMaxPageSection = dayPricePageNavigation[0].find_all("td", class_="pgRR")
dayPriceMaxPageNum = int(dayPriceMaxPageSection[0].a.get('href')[-3:])

dayPriceMaxPageNum

567

In [3]:
df = pd.DataFrame()

In [4]:
for page in range(1, dayPriceMaxPageNum+1):
    pg_url = '{url}&page={page}'.format(url=dayPriceUrl, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)

In [5]:
df = df.dropna()

In [6]:
df.head()

           날짜      종가   전일비      시가      고가      저가       거래량
1  2018.12.26  2010.0  45.0  2025.0  2040.0  1995.0  330934.0
2  2018.12.24  2055.0  15.0  2040.0  2060.0  2000.0  141300.0
3  2018.12.21  2040.0  40.0  2070.0  2080.0  2040.0  200133.0
4  2018.12.20  2080.0  35.0  2090.0  2105.0  2065.0  268862.0
5  2018.12.19  2115.0  20.0  2085.0  2115.0  2080.0  169835.0

In [7]:
df = df.rename(columns= 
               {'날짜': 'date', '종가': 'close', '전일비': 'diff', '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'})

In [8]:
df[['close', 'diff', 'open', 'high', 'low', 'volume']]= df[['close', 'diff', 'open', 'high', 'low', 'volume']].astype(int)

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [10]:
df = df.sort_values(by=['date'], ascending=True).reset_index(drop=True)

In [11]:
df.head()

        date  close  diff  open  high   low  volume
0 1996-06-25   9360     0  9400  9500  9350   12310
1 1996-06-26   9100   260  9400  9400  9100   10590
2 1996-06-27   9200   100  9000  9300  8800   25450
3 1996-06-28   9200     0  9200  9400  9200   15200
4 1996-06-29   9110    90  9200  9200  9000    8220